<div class="header">
  <form id="new-video">
    <input type="varchar" id="title" name="title" placeholder="title" autofocus>
    <input type="text" id="description" name="description" placeholder="description">
    <input type="varchar" id="url" name="url" placeholder="url">
    <input type="varchar" id="genre" name="genre" placeholder="genre">
    <button id="add-video">Add Video</button>
  </form>

 <ul id="video-list"></ul>

 <div class="play-video"></div>
  

</div>

